api_version: v1
kind: sailor_worker
name: skv_migrate
spec:
  jobs_msg:
    - step_name: migrate_prepare_check
      job_name: skv.migrate.migrate_prepare_check
      args:
        module: {{module_name}}
        src_meta_servers: {{src_meta_server_list}}
        work_path: {{work_path}}
        skip_table_names: {{skip_table_names}}
        assign_table_names: {{assign_table_names}}
        ssh_host: {{host}}
        ssh_port: {{port}}
        ssh_password: {{password}}
      hosts: {{local_host}} # local_host, replica_server_hosts
      tasks:
        - name: timeout
          args: 60
    - step_name: migrate_copy_data
      job_name: skv.migrate.migrate_copy_data
      args:
        module: {{module_name}}
        src_meta_servers: {{src_meta_server_list}}
        work_path: {{work_path}}
        max_batch_count: {{max_batch_count}}
      hosts: {{local_host}}
      tasks:
        - name: timeout
          args: 18000
